
@{
    ViewBag.Title = "index";
}

@section index
{
    @model List<EAD_Term_Project.Models.College>
    <head>
        <title>Home</title>
    </head>
}

 <p class="h1" style="font-size:100px ; font-family:Batang ; text-align:center">Colleges</p> 
    <body>
 
       
                     
        @try
        {
     
                for (int i = 0; i < Model.Count; i++)
                {              
                    
                       <a href="/College/detail_view_of_college/@Model.ElementAt(i).Id"><img src="@Model.ElementAt(i).CollegeRequest.Picture " style="height:40% ; width:50% ; margin:2% 2% 2% 20%" /> </a> 

                      <P style="margin-left:20%">@Model.ElementAt(i).CollegeRequest.Name</P>
                              
                       
                    if (i % 3 == 0 && i != 0)
                    {
                       
                       <br />
                    }

                }
        }
        catch (Exception e) { }
       
<br />
        <br /><br />
        </body>